/* Importar Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Estilos personalizados */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-card img {
  transition: transform 0.3s;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-detail img {
  max-height: 500px;
  object-fit: contain;
}